body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
 
h1 {
    text-align: center;
    color: #333;
}
 
form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: auto;
}
 
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}
 
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
 
input[readonly] {
    background-color: #f9f9f9;
}
 
button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
 
button:hover {
    background-color: #218838;
}
 
.alert {
    color: red;
    margin-top: 10px;
    text-align: center;
}
a{
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
div{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1%;
    max-width: 400px;
    margin: auto;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
}


